﻿ .card {
            width: 18%;
            float: left;
            margin-left: 60px;
            margin-right: 30px;
        }

        .autorImg {
            margin: 0 auto 1.2rem auto;
            border-radius: 50%;
            vertical-align: middle;
            border: 9px solid #EAEAED;
            height: 150px;
            width: 150px;
            display: block;
        }

        .cardAutor {
            display: inline-flex;
            width: 30%;
            clear: both;
            margin-bottom: 20px;
        }

        .autorName {
            text-align: center;
            width: 250px;
            margin-top: 25px;
        }

        #process .row {
            width: 97%;
            max-width: none;
            border-bottom: 3px solid #CCCCCC;
            padding-top: 20px;
            margin-bottom: 10px;
            border-top: 3px solid #CCCCCC;
            clear: both;
        }
        .card-text 
        {
            font-size: 1.4rem;
        }